.userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.userImageSmall {
    width: 30px;
    height: 30px;
    border-radius: 50%
}

.showEditComment {
    display: block
}

.hideEditComment {
    display: none
}
