.postWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.headerWrapper {
    display: flex;
}

.nameAndTimeWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 20px;
}

.name {
    font-weight: 600;
}

.time {
    color: #65676B;
    font-size: 14px;
}

.ellipsis {
    position: absolute;
    margin-left: 490px;
}

.userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.body {}

.postImage {}

.userImageSmall {
    width: 30px;
    height: 30px;
    border-radius: 50%
}

.comments {}

.showEditComment {
    display: block
}

.hideEditComment {
    display: none
}

.commentForm {}
