.link {
    text-decoration: none;
    background-color: #1877F2;
    border-radius: 50%;
    padding-top: 3px;
}

.logo {
    color: #FFF;
    font-size: 28px;
    padding: 0px 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
