.lineWrapper {
    display: flex;
    flex-direction: column
}

.createPostWrapper {
    display: flex;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-around;
}

.profilePictureWrapper {
    margin-top: 10px;
    margin-left: 10px;
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.question {
    background-color: #F0F2F5;
    color: #65676B;
    border-radius: 25px;
    width: 420px;
    height: 40px;
    padding: 8px 12px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 17px;
}

.question:hover {
    background-color: #e4e7eb;
}



.line {
    border: 1px solid #dddfe2;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: -60px;
    padding: 0px 10px
}

.uploadPhotoWrapper {
    display: flex;
    padding-left: 225px;
    margin-bottom: 100px;
    padding-top: 15px;
}

.uploadPhoto {
    font-size: 16px;
    color: #65676B;
    font-weight: 500;
    padding-top: 3px;
}

.photoIcon {
    color: #00A400;
    font-size: 24px;
    padding-right: 5px;
    cursor: pointer;
}
